<!DOCTYPE html>
<html>
<head>
  <title>ARTillery</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

 
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<!-- move the prettycheckable.js into your javascript -->
	<!-- // <script src="js/prettyCheckable/prettyCheckable.js"></script> --> 
</head>
<body>

<%= yield %>

</body>
</html>
